src/__pycache__
multilingual_disco_data
__pycache__
DepPTB
CCGrebank
pretrained_models
settings.json
tests
LCFRS
evaluator_results
dev_comparison.png
disc_f1_comparison.png
f1_comparison.png
train_comparison.png
pretrained_final_models/CCG/err.txt
pretrained_final_models/CCG/eval_dev
pretrained_final_models/CCG/eval_test
pretrained_final_models/CCG/i2chars
pretrained_final_models/CCG/i2labels
pretrained_final_models/CCG/i2supertag
pretrained_final_models/CCG/i2tags
pretrained_final_models/CCG/i2words
pretrained_final_models/CCG/learning_log
pretrained_final_models/CCG/log.txt
pretrained_final_models/CCG/model
pretrained_final_models/CCG/task2depth
pretrained_final_models/CCG_600_gate/err.txt
pretrained_final_models/CCG_600_gate/eval_dev
pretrained_final_models/CCG_600_gate/eval_test
pretrained_final_models/CCG_600_gate/i2chars
pretrained_final_models/CCG_600_gate/i2labels
pretrained_final_models/CCG_600_gate/i2supertag
pretrained_final_models/CCG_600_gate/i2tags
pretrained_final_models/CCG_600_gate/i2words
pretrained_final_models/CCG_600_gate/learning_log
pretrained_final_models/CCG_600_gate/log.txt
pretrained_final_models/CCG_600_gate/model
pretrained_final_models/CCG_600_gate/task2depth
pretrained_final_models/CCG_gate/err.txt
pretrained_final_models/CCG_gate/eval_dev
pretrained_final_models/CCG_gate/eval_test
pretrained_final_models/CCG_gate/i2chars
pretrained_final_models/CCG_gate/i2labels
pretrained_final_models/CCG_gate/i2supertag
pretrained_final_models/CCG_gate/i2tags
pretrained_final_models/CCG_gate/i2words
pretrained_final_models/CCG_gate/learning_log
pretrained_final_models/CCG_gate/log.txt
pretrained_final_models/CCG_gate/model
pretrained_final_models/CCG_gate/task2depth
pretrained_final_models/CCG_multi_gate/dev_pred.discbracket
pretrained_final_models/CCG_multi_gate/err.txt
pretrained_final_models/CCG_multi_gate/eval_dev
pretrained_final_models/CCG_multi_gate/eval_test
pretrained_final_models/CCG_multi_gate/i2arg
pretrained_final_models/CCG_multi_gate/i2chars
pretrained_final_models/CCG_multi_gate/i2head
pretrained_final_models/CCG_multi_gate/i2labels
pretrained_final_models/CCG_multi_gate/i2sketch
pretrained_final_models/CCG_multi_gate/i2supertag
pretrained_final_models/CCG_multi_gate/i2tags
pretrained_final_models/CCG_multi_gate/i2words
pretrained_final_models/CCG_multi_gate/learning_log
pretrained_final_models/CCG_multi_gate/log.txt
pretrained_final_models/CCG_multi_gate/model
pretrained_final_models/CCG_multi_gate/task2depth
pretrained_final_models/CCG_multi_gate/test_pred.discbracket
pretrained_final_models/CCG_multi_gate/tmp_dev.discbracket
pretrained_final_models/baseline/err.txt
pretrained_final_models/baseline/eval_dev
pretrained_final_models/baseline/eval_test
pretrained_final_models/baseline/i2chars
pretrained_final_models/baseline/i2labels
pretrained_final_models/baseline/i2tags
pretrained_final_models/baseline/i2words
pretrained_final_models/baseline/learning_log
pretrained_final_models/baseline/log.txt
pretrained_final_models/baseline/model
pretrained_final_models/baseline/task2depth
pretrained_final_models/chunking_gate/err.txt
pretrained_final_models/chunking_gate/eval_dev
pretrained_final_models/chunking_gate/eval_test
pretrained_final_models/chunking_gate/i2chars
pretrained_final_models/chunking_gate/i2chunking
pretrained_final_models/chunking_gate/i2labels
pretrained_final_models/chunking_gate/i2tags
pretrained_final_models/chunking_gate/i2words
pretrained_final_models/chunking_gate/learning_log
pretrained_final_models/chunking_gate/log.txt
pretrained_final_models/chunking_gate/model
pretrained_final_models/chunking_gate/task2depth
pretrained_final_models/control_3/err.txt
pretrained_final_models/control_3/eval_dev
pretrained_final_models/control_3/eval_test
pretrained_final_models/control_3/i2chars
pretrained_final_models/control_3/i2labels
pretrained_final_models/control_3/i2tags
pretrained_final_models/control_3/i2words
pretrained_final_models/control_3/learning_log
pretrained_final_models/control_3/log.txt
pretrained_final_models/control_3/model
pretrained_final_models/control_3/task2depth
pretrained_final_models/control_3_gate/err.txt
pretrained_final_models/control_3_gate/eval_dev
pretrained_final_models/control_3_gate/eval_test
pretrained_final_models/control_3_gate/i2chars
pretrained_final_models/control_3_gate/i2labels
pretrained_final_models/control_3_gate/i2tags
pretrained_final_models/control_3_gate/i2words
pretrained_final_models/control_3_gate/learning_log
pretrained_final_models/control_3_gate/log.txt
pretrained_final_models/control_3_gate/model
pretrained_final_models/control_3_gate/task2depth
pretrained_final_models/control_4_gate/err.txt
pretrained_final_models/control_4_gate/eval_dev
pretrained_final_models/control_4_gate/eval_test
pretrained_final_models/control_4_gate/i2chars
pretrained_final_models/control_4_gate/i2labels
pretrained_final_models/control_4_gate/i2tags
pretrained_final_models/control_4_gate/i2words
pretrained_final_models/control_4_gate/learning_log
pretrained_final_models/control_4_gate/log.txt
pretrained_final_models/control_4_gate/model
pretrained_final_models/control_4_gate/task2depth
pretrained_final_models/lcfrs_gate/err.txt
pretrained_final_models/lcfrs_gate/eval_dev
pretrained_final_models/lcfrs_gate/eval_test
pretrained_final_models/lcfrs_gate/i2chars
pretrained_final_models/lcfrs_gate/i2labels
pretrained_final_models/lcfrs_gate/i2lcfrs
pretrained_final_models/lcfrs_gate/i2tags
pretrained_final_models/lcfrs_gate/i2words
pretrained_final_models/lcfrs_gate/learning_log
pretrained_final_models/lcfrs_gate/log.txt
pretrained_final_models/lcfrs_gate/model
pretrained_final_models/lcfrs_gate/task2depth
pretrained_final_models/pipeline/err.txt
pretrained_final_models/pipeline/eval_dev
pretrained_final_models/pipeline/eval_test
pretrained_final_models/pipeline/i2chars
pretrained_final_models/pipeline/i2labels
pretrained_final_models/pipeline/i2tags
pretrained_final_models/pipeline/i2words
pretrained_final_models/pipeline/learning_log
pretrained_final_models/pipeline/log.txt
pretrained_final_models/pipeline/model
pretrained_final_models/pipeline/task2depth
pretrained_final_models/CCG/dev_pred.discbracket
pretrained_final_models/CCG_gate/dev_pred.discbracket
pretrained_final_models/CCG_gate/test_pred.discbracket
pretrained_final_models/baseline/dev_pred.discbracket
pretrained_final_models/baseline/test_pred.discbracket
pretrained_final_models/pipeline/dev_pred.discbracket
pretrained_final_models/pipeline/test_pred.discbracket
pretrained_final_models/pipeline/tmp_dev.discbracket
src/supertag_tester.py
pretrained_final_models/CCG_control/err.txt
pretrained_final_models/CCG_control/i2chars
pretrained_final_models/CCG_control/i2labels
pretrained_final_models/CCG_control/i2tags
pretrained_final_models/CCG_control/i2words
pretrained_final_models/CCG_control/learning_log
pretrained_final_models/CCG_control/log.txt
pretrained_final_models/CCG_control/model
pretrained_final_models/CCG_control/task2depth
pretrained_final_models/CCG_control/tmp_dev.discbracket
pretrained_final_models/CCG_headarg_gate/dev_pred.discbracket
pretrained_final_models/CCG_headarg_gate/err.txt
pretrained_final_models/CCG_headarg_gate/eval_dev
pretrained_final_models/CCG_headarg_gate/eval_test
pretrained_final_models/CCG_headarg_gate/i2chars
pretrained_final_models/CCG_headarg_gate/i2labels
pretrained_final_models/CCG_headarg_gate/i2leftaction
pretrained_final_models/CCG_headarg_gate/i2rightaction
pretrained_final_models/CCG_headarg_gate/i2supertag
pretrained_final_models/CCG_headarg_gate/i2tags
pretrained_final_models/CCG_headarg_gate/i2words
pretrained_final_models/CCG_headarg_gate/learning_log
pretrained_final_models/CCG_headarg_gate/log.txt
pretrained_final_models/CCG_headarg_gate/model
pretrained_final_models/CCG_headarg_gate/task2depth
pretrained_final_models/CCG_headarg_gate/test_pred.discbracket
pretrained_final_models/CCG_headarg_gate/tmp_dev.discbracket
pretrained_final_models/control_3/tmp_dev.discbracket
pretrained_final_models/control_3_gate_600/dev_pred.discbracket
pretrained_final_models/control_3_gate_600/err.txt
pretrained_final_models/control_3_gate_600/eval_dev
pretrained_final_models/control_3_gate_600/eval_test
pretrained_final_models/control_3_gate_600/i2chars
pretrained_final_models/control_3_gate_600/i2labels
pretrained_final_models/control_3_gate_600/i2tags
pretrained_final_models/control_3_gate_600/i2words
pretrained_final_models/control_3_gate_600/learning_log
pretrained_final_models/control_3_gate_600/log.txt
pretrained_final_models/control_3_gate_600/model
pretrained_final_models/control_3_gate_600/task2depth
pretrained_final_models/control_3_gate_600/test_pred.discbracket
pretrained_final_models/control_3_gate_600/tmp_dev.discbracket
pretrained_final_models/control_3_secondtry/err.txt
pretrained_final_models/control_3_secondtry/i2chars
pretrained_final_models/control_3_secondtry/i2labels
pretrained_final_models/control_3_secondtry/i2tags
pretrained_final_models/control_3_secondtry/i2words
pretrained_final_models/control_3_secondtry/learning_log
pretrained_final_models/control_3_secondtry/log.txt
pretrained_final_models/control_3_secondtry/task2depth
LTAGspinal/derivation.devel.v01
LTAGspinal/derivation.devel.v02
LTAGspinal/derivation.sec0-1.v01
LTAGspinal/derivation.sec0-1.v02
LTAGspinal/derivation.sec22.v01
LTAGspinal/derivation.sec22.v02
LTAGspinal/derivation.test.v01
LTAGspinal/derivation.test.v02
LTAGspinal/derivation.train.v01
LTAGspinal/derivation.train.v02
LTAGspinal/README
LTAGspinal/skip.txt
pretrained_final_models/CCG/test_pred.discbracket
pretrained_final_models/control_2/dev_pred.discbracket
pretrained_final_models/control_2/err.txt
pretrained_final_models/control_2/eval_dev
pretrained_final_models/control_2/eval_test
pretrained_final_models/control_2/i2chars
pretrained_final_models/control_2/i2labels
pretrained_final_models/control_2/i2tags
pretrained_final_models/control_2/i2words
pretrained_final_models/control_2/learning_log
pretrained_final_models/control_2/log.txt
pretrained_final_models/control_2/model
pretrained_final_models/control_2/task2depth
pretrained_final_models/control_2/test_pred.discbracket
pretrained_final_models/control_2/tmp_dev.discbracket
pretrained_final_models/control_3/dev_pred.discbracket
pretrained_final_models/control_3/test_pred.discbracket
pretrained_final_models/dep_extra/err.txt
pretrained_final_models/dep_extra/i2chars
pretrained_final_models/dep_extra/i2deprelPOS
pretrained_final_models/dep_extra/i2labels
pretrained_final_models/dep_extra/i2tags
pretrained_final_models/dep_extra/i2words
pretrained_final_models/dep_extra/learning_log
pretrained_final_models/dep_extra/log.txt
pretrained_final_models/dep_extra/model
pretrained_final_models/dep_extra/task2depth
pretrained_final_models/dep_extra/tmp_dev.discbracket
