allennlp==2.10.1
allennlp-models==2.10.1
chainer==7.8.1
conllu==4.4.2
cupy-cuda12x==12.2.0
Cython==0.29.32
depccg==2.0.3.2
disco-dop==0.6a0
nvidia-cudnn-cu11==8.5.0.96
torch==1.12.1
datasets==2.8.0
numpy==1.23.5
